name: Android build CI

on:
  push:
    tags:
      - "*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-and-release-android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.3'
          channel: 'stable'
          cache: true

      # Set Current Date As Env Variable
      - name: Set current date as env variable
        run: echo "date_today=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      # Set Repository Name As Env Variable
      - name: Set repository name as env variable
        run: echo "repository_name=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV

      # Install Java
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          sdk-version: '35'      

      - name: Accept Android licenses
        run: yes | sdkmanager --licenses

      - name: Get dependencies
        run: flutter pub get

      - name: Decode Keystore
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > /home/runner/work/random_mu/random_mu/keystore.jks
        shell: bash
      
      - name: Debug Environment Variables
        run: |
          echo "ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}"
          echo "ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}"
          echo "ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}"

      - name: Build signed APK
        run: |
          flutter build apk --release \
            --dart-define=ANDROID_KEYSTORE_PATH=android/app/keystore.jks \
            --dart-define=ANDROID_KEYSTORE_PASSWORD=${{ secrets.ANDROID_KEYSTORE_PASSWORD }} \
            --dart-define=ANDROID_KEY_ALIAS=${{ secrets.ANDROID_KEY_ALIAS }} \
            --dart-define=ANDROID_KEY_PASSWORD=${{ secrets.ANDROID_KEY_PASSWORD }}

      - name: Build artifacts
        run: flutter build apk --release

      - name: Rename artifacts
        run: mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/RandomMuu-${{github.ref_name}}-android.apk

      - name: Android Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: build/app/outputs/flutter-apk/RandomMuu-${{github.ref_name}}-android.apk